<div class="row current-dish">
    <div class="col s10 offset-s1 m6 offset-m3">
        <h2 class="center-align">{{currentDish.title}}</h2>
        <img src="{{currentDish.image}}" alt="{{currentDish.title}}">
        <p class="center-align">{{currentDish.description}}</p>
        <p class="center-align orange-text">Price: {{currentDish.price}} $</p>
    </div>
</div>
