<div>
  <div class="row offset-m6 change-card-pannel">
     <div>
        <i class="fa fa-list fa-3x" aria-hidden="true"></i>
      <i class="fa fa-th fa-3x" aria-hidden="true"></i>
     </div>
  </div>
  <h1 class="center-align">Menu</h1>
    <div class="food_list"></div>
    <div class="menu-list ">
    {{#if dishes.length}}
    {{#each dishes}}
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light"
        style="background: url('{{image}}'); background-position:center; background-size:cover;"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{title}}<i
            class="material-icons right">more_vert</i></span>
        <p>{{price}} $</p>
        <p><a href="/menu/dishes/{{id}}" target="_blank">View</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
        <p>{{description}}</p>
        <form action="/cart/add" method="POST">
        <input type="hidden" name="id" value="{{id}}" />
         <input type="hidden" name="_csrf" value="{{@root.csrf}}" />
         <div class="row order-btn">
          <button type="submit" class="btn col s4 m4 orange accent-3">Order</button>
        </div>
        </form>
      </div>
    </div>
    {{/each}}
    {{/if}}
 </div>
</div>